#myGrid {
    height: 500px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ag-theme-quartz {
    --ag-foreground-color: rgb(16, 15, 16) !important;
    --ag-background-color: rgb(255, 255, 255) !important;
    --ag-header-background-color: rgb(255, 255, 255) !important;
    --ag-odd-row-background-color: rgba(211, 204, 202, 0.03) !important;
    --ag-font-size: 14px !important;
}
